* {
	margin: 0;
}

img::selection {
  outline: none;
}

.frame {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 1fr 6fr 1fr;
	grid-template-areas: 'backward .          forward'
											 'backward slide      forward'
											 'backward indicators forward';
}

.backward,
.forward {
	fill: black;
	justify-self: center;
	align-self: center;
}

.backward:hover,
.forward:hover {
  opacity: 0.5;
}

.backward {
	grid-area: backward;
}

.slide {
	grid-area: slide;
	align-self: center;
  justify-self: center;
}

.forward {
	grid-area: forward;
}

.indicators {
	display: flex;
	justify-content: center;
	gap: 15px;
	grid-area: indicators;
	
}

.circle {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 50%;
	display: inline-block;
}

.circle-active {
	background-color: black;
}